# ==========================================
# BETTER AUTH SECRET
# ==========================================
# Generate with: openssl rand -base64 32
# Must be same value di frontend dan backend
BETTER_AUTH_SECRET=

# Docker only (service-to-service communication)
NEXTJS_URL=http://frontend:3000
